// Overriding Bootstrap fonts

$font-family-sans-serif:      $font-text;
$line-height-base: 			  $font-text-line-height; //1.8 !default; //$font-text-line-height;
//$font-size-base:              1.1rem;
$font-weight-base:            $font-text-weight;

$headings-font-family:        $font-head;
$headings-font-weight: 		  $font-head-weight;
//$headings-line-height: 		  $font-head-height;


